{% extends 'layout.twig' %}

{% set title = 'Présentation' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <h3 class="major">{{title}}</h3>

    <p>Le "Postrail" consiste en deux parcours de trail (15 km et 27 km) au départ du village de Post (Attert).</p>

    <p>À l'arrivée, petites restaurations et bière locale vous attendent. Si l'ambiance vous plait, nous vous invitons à poursuivre l'expérience postoise jusqu'au bout de la nuit lors de notre bal de village. Entrée gratuite pour tous les trailers&nbsp;!</p>

    <p>Des douches sont à votre disposition pour faire la fête dans de bonnes conditions&nbsp;!</p>

    <p>
        <a href="{{ path_for('runner.create') }}" class="special">S'inscrire en ligne</a>
    </p>

    <h3 class="major">En pratique</h3>
    <div class="row">
        <div class="6u 12u$(medium)">
            <h4>Inscriptions</h4>
            <p>
                Course nature : <b>6&nbsp;€</b></br>
                Trail découverte : <b>8&nbsp;€</b></br>
                Repas du soir : <b>5&nbsp;€</b></br>
            </p>
            <p>
                <a href="rules.html">En s'inscrivant à l'épreuve, tout participant déclare avoir lu le réglement et marquer son accord sur celui-ci.</a>
            </p>
        </div>

        <div class="6u$ 12u$(medium)">
            <h4>Programme</h4>
            <p>
                <b>13 h</b> - remise des puces et dossards</br>
                <b>14 h 45</b> - briefing course nature</br>
                <b>15 h</b> - départ course nature</br>
                <b>15 h 45</b> - briefing trail découverte</br>
                <b>16 h</b> - départ trail découverte</br>
                <b>18 h 30</b> - début du service des repas</br>
                <b>22 h</b> - ouverture du bal Underground</br>
            </p>
        </div>
    </div>

    <h3 class="major">Les parcours</h3>
    <p>Les deux parcours vous feront passer de la Lorraine belge au plateau ardennais, deux régions typiques de l'Arelerland. Techniques mais accessibles, ils ont pour but de vous faire découvrir notre belle région, en prenant un maximum de plaisir !</p>
    <p>Les tracés et profils seront dévoilés quelques jours avant l'épreuve.</p>

    <section class="features">
        <article>
            <div class="image">
                <img src="{{ base_url() }}/img/15km.jpg">
            </div>
            <h3 class="major">Course nature</h3>
            <p>Rejoignant au plus court le superbe massif de la forêt d'Anlier, ce parcours de 15 km vous fera tourner autour du village d'Heinstert avant de rejoindre Post.
            <ul class="alt">
                <li>Distance totale : <b>15,2 km</b></li>
                <li>Dénivelée positive : <b>260 m</b></li>
            </ul>
            </p>
            <!--<a href="#" class="special">Learn more</a>-->
        </article>
        <article>
            <div class="image">
                <img src="{{ base_url() }}/img/27km.jpg">
            </div>
            <h3 class="major">Trail découverte</h3>
            <p>Ce parcours s'enfonce plus profondément dans la forêt d'Anlier pour aller caresser la frontière martelangeoise, formant une boucle de 27 km.
            <ul class="alt">
                <li>Distance totale : <b>27,3 km</b></li>
                <li>Dénivelée positive : <b>495 m</b></li>
            </ul>
            </p>
            <!--<a href="#" class="special">Learn more</a>-->
        </article>
    </section>
{% endblock %}