{% extends 'layout.twig' %}

{% set title = 'Inscrits' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

{% include 'message.twig' %}

<section>
    <ul class="actions">
        <li>
            <a href="{{ path_for('runner.create')}}" class="button special">Inscrivez-vous&nbsp;!</a>       
        </li>
    </ul>
</section>

<section>    
    <h3 class="major">{{title}}</h3>
    <table class="sortable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
            </tr>
        </thead>
        <tbody>
            {% for runner in runners %}
            <tr>
                <td>{{ runner['id'] }}</td>
                <td>
                    <a href="/runner/{{ runner['id'] }}">
                        {{ runner['first_name'] }} {{ runner['last_name'] }}
                    </a>
                </td>
                <td>{% if runner['gender'] %}male{% else %}female{% endif %}</td>
                <td>{{ runner['race'] }}</td> 
            </tr>
            {% endfor %}
        </tbody>    
    </table>
</section>
{% endblock %}